<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sisemp </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Sisemp", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})*@
            </div>
            <br/>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastro <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Empresas", "ListEmp", "Emp")</li>
                    <li>@Html.ActionLink("Clientes", "ListCli", "Cli")</li>
                    <li>@Html.ActionLink("Rotas", "Lista", "Rot")</li>
                    <li>@Html.ActionLink("Aplicação", "Lista", "Apl")</li>
                    <li>@Html.ActionLink("Receitas e Despesas", "ListCrd", "Crd")</li>
                </ul>

            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Movimento <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cobranças", "Criar", "Mov")</li>
                    <li>@Html.ActionLink("Despesas", "Lista", "Rdm")</li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatório <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Receitas x Despesas", "Index", "Home")</li>
                    <li>@Html.ActionLink("Receitas por Rota", "About", "Home")</li>
                    <li>@Html.ActionLink("Lucro Liquido por Rota", "Contact", "Home")</li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sisemp </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
